@page "/counter"
@using Image_Guesser.Data

<h1>Image Guesser</h1>
<!-- <img src="@game.getCurrentImage().getImageUrl()" alt="@game.getCorrectWord()" style="width:50px;height:60px;"> -->

<img src="Strips/VertStrip_0.png" style="width:5px;height:60px;" />
<img src="Strips/VertStrip_1.png" style="width:5px;height:60px;" />
<img src="Strips/VertStrip_2.png" style="width:5px;height:60px;" />
<img src="Strips/VertStrip_3.png" style="width:5px;height:60px;" />
<img src="Strips/VertStrip_4.png" style="width:5px;height:60px;" />
<img src="Strips/VertStrip_5.png" style="width:5px;height:60px;" />
<img src="Strips/VertStrip_6.png" style="width:5px;height:60px;" />
<img src="Strips/VertStrip_7.png" style="width:5px;height:60px;" />
<img src="Strips/VertStrip_8.png" style="width:5px;height:60px;" />
<img src="Strips/VertStrip_9.png" style="width:5px;height:60px;" />

<p>Current guess: @guessVar</p>
<p>@displayCorrect</p>
<button class="btn btn-primary" id="guessText" @onclick="getGuess">Submit</button>
<input id="guess" @bind="guessVar">
<p style="width: 150px; border:3px; border-style:solid; border-color:#00ff00;"> Your Score: @score</p>

@code
{
    private int score = 0;
    private string displayCorrect = "false";
    private string guessVar = "";
    private string correctWord;
    private Game game = new Game();

    //C:\Users\s-mgatti\Source\Repos\choice-project-image-guesser\Image_Guesser\Data\Strips\VertStrip_1.png

    void getGuess()
    {
        //game.getCorrectWord().Equals(guessVar)
        if (String.Equals(game.getCorrectWord(), guessVar, StringComparison.OrdinalIgnoreCase))
        {
            displayCorrect = "You got the answer correct!";
            score += 100;
        }
        else
        {
            displayCorrect = "You got the answer incorrect!";
        }
    }


}